<% provide(:title, "Terms and Conditions") %>
<div class="content-container ">
  <div class="page-content">
    <div class="terms-menu">
      <h1>Terms and Conditions</h1>
      <p>
        <%= link_to "General Terms and Conditions", terms_general_path %></br>
        <%= link_to "Web Design and Web Development Terms and Conditions", terms_development_path %></br>
        <%= link_to "Web Marketing and Advertising Terms and Conditions", terms_marketing_path %></br>
        <%= link_to "Translation and Customer Relations Terms and Conditions", terms_translating_path %></br>
      </p>
      <h1>Privacy Policy</h1>
      <p>
        <%= link_to "Privacy Policy", terms_privacy_path %></br>
      </p>
    </div>
  </div>
</div>
