<header class="header">
    <nav>
      <ul class="header-nav-right nav-links">
        <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
          <% if locale == I18n.default_locale %>
            <%= link_to "English", i18n_url_for(locale: locale) %>
          <% else %>
            <%= link_to "日本語", i18n_url_for(locale: locale) %>
          <% end %>
        <% end %>
      </ul>
      <ul class="header-nav-left nav-links">
        <li><%= link_to t("header.home"),    root_path, "data-turbolinks": "false" %></li>
        <li><%= link_to t("header.what_we_do"), what_we_do_path, "data-turbolinks": "false" %></li>
        <li><%= link_to t("header.pricing"),   pricing_path %></li>
        <li><%= link_to t("header.contact_us"), contact_path %></li>
      </ul>
    </nav>
  <div class="header-logo">
    <%= link_to image_tag("amrr_logo.gif", alt: "App Market Response Research"), root_path, id: "logo" %>
  </div>
</header>
